# cli environment variables
LOG_LEVEL=info
AGENT_URL=http://localhost:8006
LINES_SERVICE_URL=http://localhost:8001
STATISTICS_SERVICE_URL=http://localhost:8002
BOOKIE_EMULATOR_URL=http://localhost:8005
PREDICTION_ENGINE_URL=http://localhost:8004
